.success {
	border: 6px solid green;
	background: white;
	color: green;
	font-size: 26px;
	padding: 20px;
	margin: 30px;
}

.error {
	border: 6px solid red;
	background: white;
	color: red;
	font-size: 26px;
	padding: 20px;
	margin: 30px;
}
